.Head{
    background: var(--elements);
    box-shadow: 0px -2px 10px var(--box-shadow);
}

.Head h2{
    font-weight: 800;
    color: var(--text);
}

.Head button{
    background: transparent;
    outline: none;
    border: none;
    color: var(--text);
}

.Head button img{
    height: 16px;
}