:root{
  --Dark-Blue: hsl(208, 23%, 22%); /* Dark Mode Elements */
  --Very-Dark-Blue: hsl(207, 26%, 17%); /* Dark Mode Background */
  --Very-Dark-Blue: hsl(200, 15%, 8%); /* Light Mode Text */
  --Dark-Gray: hsl(0, 0%, 52%); /* Light Mode Input */
  --Very-Light-Gray: hsl(0, 0%, 98%); /* Light Mode Background */
  --White: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */
}

.dark-theme{
  --bg: hsl(207, 26%, 17%);
  --box-shadow: hsl(200, 15%, 8%);
  --text: hsl(0, 0%, 100%);
  --elements: hsl(208, 23%, 22%);
}

.light-theme{
  --bg: hsl(0, 0%, 98%);
  --box-shadow: hsl(0, 0%, 52%);
  --text: hsl(200, 15%, 8%);
  --elements: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

p, h2{
  margin-bottom: 0!important;
}

img{
  max-width: 100%;
  height: auto;
}

body{
  background-color: var(--bg)!important;
}

a{
  text-decoration: none!important;
}